<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="index.js"></script>
<link rel="stylesheet" href="login.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
    <div ng-app="sodin" ng-controller="myCtrl">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Soding.com</a>
                </div>
                <!-- <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                </ul> -->
                <ul class="nav navbar-nav navbar-right" ng-if="loguser!=0">
                    
                    <li ng-click="logout()"><a href="#"><span class="glyphicon glyphicon-log-in"></span>Log Out : {{logusername}}</a></li>
                </ul>
            </div>
        </nav>



        <div class="container" ng-if="loguser==0">
            <div class="wrapper">
                <form class="form-signin">
                    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
                    <hr class="colorgraph">
                    <br>
                    <input type="text" class="form-control" ng-init="user" ng-model="user" name="Username" placeholder="Username" />
                    <input type="password" class="form-control" ng-init="pass" ng-model="pass" name="Password" placeholder="Password" />
                    <button class="btn btn-lg btn-primary btn-block" value="Login" ng-click="login(user,pass)">Login</button>
                    <label ng-init="logmessage">{{logmessage}}</label>
                </form>
            </div>
        </div>
        <div class="container" ng-if="loguser!=0">
            <br>
            <br>
            <div class="row">
                <div class="col-md-5">
                    <input type="text" class="form-control  default"  placeholder="Task Name" ng-model="Code" />
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control  default"  placeholder="Task Description" ng-model="Name" />
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" ng-click="add(Code,Name);Code=null;Name=null">Add Task</button>
                </div>
            </div>
            <br>
            <br>
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Task Name</th>
                        <th>Task Description</th>
                        <th>Created Date</th>
                       
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="itm in items">
                        <th ng-if="itm.user==loguser">
                        	
                            <label style="
    margin-top: 5px;">{{$index+1}}</label>
                        </th>
                        <th ng-if="itm.user==loguser">
                            <input type="text" class="form-control" ng-model="itm.Code" />
                        </th>
                        <th ng-if="itm.user==loguser">
                            <input type="text" class="form-control" ng-model="itm.Name" />
                        </th>
                        <th ng-if="itm.user==loguser">
                            <label style="
    margin-top: 5px;">{{itm.CreatedDate | date:'dd/MM/yyyy @ h:mma'}}</label>
                        </th ng-if="itm.user==loguser">
                        
                        <th ng-if="itm.user==loguser">
                          <button class="btn" ng-click="remove($index)">Remove</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>